# yaml-language-server: $schema=./node_modules/envio/evm.schema.json
name: prophet-indexer
networks:
  - id: 84532 
    start_block: 35797900 
    contracts:
      - name: MarketFactory
        address:
          - 0x1c849781862895235688912850235d9C6a86650e
        handler: src/EventHandlers.js
        events:
          - event: OwnershipTransferred(address indexed previousOwner, address indexed newOwner)
      - name: PredictionMarket
        address:
          - 0xD5377BF1cfAA0Bb24d54c5010242d12Ed189d261
        handler: src/EventHandlers.js
        events:
          - event: MarketCreated(uint256 indexed marketId, address indexed creator, string question, string category, uint256 endTime)
          - event: PredictionMade(uint256 indexed marketId, address indexed user, uint8 side, uint256 outcomeIndex, uint256 amount)
          - event: MarketResolved(uint256 indexed marketId, uint8 winningOutcome, uint256 winningOutcomeIndex, uint256 totalPayout)
          - event: PayoutClaimed(uint256 indexed marketId, address indexed user, uint256 amount)
      - name: Oracle
        address:
          - 0x439B12822485Bab0af0731bDfa58eEE5A50F8001
        handler: src/EventHandlers.js
        events:
          - event: MarketResolved(uint256 indexed marketId, uint8 outcome, address indexed resolver)
      - name: ReputationSystem
        address:
          - 0x1Ef708437cCBBC0353779e68a3275E566b165AAF
        handler: src/EventHandlers.js
        events:
          - event: ReputationUpdated(address indexed user, uint256 newScore, uint256 streak)
          - event: UsernameSet(address indexed user, string username)
unordered_multichain_mode: true
preload_handlers: true
