[build]
builder = "NIXPACKS"
buildCommand = "npm install && cd generated && npm install && cd .. && npm run codegen"

[deploy]
startCommand = "npm start"
healthcheckPath = "/health"
healthcheckTimeout = 100
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

